.blog-area {
	.os-scrollbar .os-scrollbar-track {
		height: 403px;
		border-radius: 4px;
		width: 8px;
		background: $dark_gray;
		right: 16px;
		top: 96px;
		@media (max-width: 596px) {
			right: 6px;
			width: 4px;
			top: 60px;
			height: 301px;
		}
		&:hover{
			background: $dark_gray;
		}
	}
	.os-scrollbar .os-scrollbar-handle{
		background: $blue;
		width: 8px;
		@media (max-width: 596px) {
			width: 4px;
		}
	}
}
