* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lexend', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: $white;
	background: $dark_blue;
}

a, button {
	transition: all .3s;
}

a {
	text-decoration: none;
	color: $white;
}

ul {
	list-style-type: none;
}

img {
	width: 100%;
	display: block;
	height: 100%;
	object-fit: contain;
}

.container {
	padding: 0 10px;
	max-width: 1660px;
	width: 100%;
	margin: 0 auto;
}

.main-page {
	background-color: $dark_blue;
	position: relative;
	background-image: url("data:image/svg+xml,%3Csvg width='1065' height='1225' viewBox='0 0 1065 1225' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7' filter='url(%23filter0_f_1_5904)'%3E%3Ccircle cx='937' cy='937' r='287' fill='url(%23paint0_linear_1_5904)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_1_5904' x='0' y='0' width='1874' height='1874' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='325' result='effect1_foregroundBlur_1_5904'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_1_5904' x1='1224' y1='650' x2='548.706' y2='818.823' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23478BF9'/%3E%3Cstop offset='1' stop-color='%239DADF2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	background-position-y: bottom;
	background-position-x: 100%;
	background-repeat: no-repeat;
}

.button {
	background: none;
	cursor: pointer;
	font-family: "Lexend", sans-serif;
	color: $white;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 24px;
}

.purple-btn {
	background: none;
	border: 2px solid $purple;

	&:hover {
		background: $purple;
	}
}

.blue-btn {
	background: $blue;
	border: 2px solid $blue;

	&:hover {
		background: none;
		color: $blue;
	}
}